version: '3.7'

services:
  my-backend:
    image: asia.gcr.io/busker-368211/my-backend:8.8
    platform: linux/x86_64
    build:
      context: .
      dockerfile: Dockerfile
    # volumes:
    #   - ./src:/myfolder/src
    ports:
      - 3000:3000
    env_file:
      - ./.env.prod

  my-database:
    platform: linux/x86_64
    image: mysql:latest
    environment:
      MYSQL_DATABASE: 'busker'
      MYSQL_ROOT_PASSWORD: 'root'
    ports:
      - 3306:3306

  team-redis:
    image: redis:latest
    ports:
      - 6379:6379    
